<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= product.name%></title>
    <link href="../../public/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div>
    <h1 class="product-name"><%= product.name%></h1>
    <p class="product-details">Category: <%= product.category%></p>
    <p class="product-details">Quantity: <%= product.quantity%></p>
    <p class="product-details">Unit price: <%= product.unitPrice%></p>
    <p class="product-details">Date added: <%= product.dateAdded%></p>
    <p class="product-details">Supplier: <%= product.supplier%></p>
</div>
</body>
</html>